# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
miniprogram/pages/clubRecommend/clubRecommend.js
miniprogram/pages/clubRecommend/clubRecommend.wxml
miniprogram/pages/clubRecommend/clubRecommend.js
miniprogram/pages/clubRecommend/clubRecommend.js
miniprogram/pages/clubRecommend/clubRecommend.wxml
miniprogram/pages/clubRecommend/clubRecommend.wxml
project.config.json
